*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/* Медиа запрос */

@media screen and (max-width: 1200px) {
	.container {
		max-width: 1300px;
	}
}

@media screen and (max-width: 1199px) {
	.container {
		max-width: 1140px;
	}
	.focus__box {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 100%;
	}
}

// >= 0	                    	100%
// >= 576px		                540px
// >= 768px		                720px
// >= 992px		                960px
// >= 1200px	       	            1140px

/* /Медиа запрос */


html {
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	min-height: 100vh;
	position: relative;
	background: url(/img/header/bg.png) no-repeat;
	background-size: cover;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.2px;
	color: #fff;

	.header__block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	a {
		color: #fff;
		text-transform: uppercase;
	}

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 25px;
	}

	.menu {
		display: flex;
		column-gap: 30px;
		margin-right: 13%;
	}

	.header__lang {
		display: flex;
		align-items: center;
		column-gap: 6px;
	}

	h1 {
		font-weight: 600;
		font-size: 95px;
		line-height: 73px;
		text-align: center;
		letter-spacing: 0.2px;
		padding-top: 20%;
		padding-bottom: 20px;
	}

	h4 {
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 42px;
		text-align: center;
		padding-bottom: 65px;
	}

	.header__video-link {
		margin-bottom: 30px;
	}
}

.logos__item {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	margin: 0 auto;
	max-width: 60%;
}

.about {
	background-color: #252525;
	background-image: url(/img/about/about__img.png);
	background-repeat: no-repeat;
	padding-bottom: 115px;
	background-position: 100% -50%;

	.about__box {
		color:#fff;
		padding-top: 118px;	
	}

	.about__text {
		position: relative;
		background-color: #EF3527;
		padding: 130px 80px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		row-gap: 42px;
		max-width: 70%;
		
		h2 {
			font-weight: 500;
			font-size: 60px;
			line-height: 66px;
			letter-spacing: 0.2px;
		}
	
		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			letter-spacing: 0.2px;
			max-width: 480px;
		}

		img {
			position: absolute;
			top: -13%;
			right: -45%;
		}
	}
}

.focus {
	background-color: #252525;
	padding-bottom: 100px;
}

.focus__box {
	color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;

	.focus__item {
		display: inline-flex;
		flex-direction: column;
		border: solid 20px #ffa630;
		padding: 70px 133px 70px 70px;

		h2 {	
			display: inline-flex;
			font-weight: 500;
			font-size: 60px;
			line-height: 66px;
			letter-spacing: 0.2px;
			border-bottom: solid 2px #EF3527;
			padding-bottom: 20px;
		}

		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			letter-spacing: 0.2px;
			padding-top: 20px;
		}
	}
}

.focus__photo {
	display: flex;
	padding: 316px 149px 0 0;
	background-image: url(/img/collage/item_1.png);
	background-repeat: no-repeat;
	background-size: cover;

	&:nth-child(3) {
		background-image: url(/img/collage/item_2.png);
	}
	&:nth-child(4) {
		background-image: url(/img/collage/item_3.png);
	}
	&:nth-child(5) {
		background-image: url(/img/collage/item_4.png);
	}
	&:nth-child(6) {
		background-image: url(/img/collage/item_5.png);
	}

	.focus__container {
		background-color: #252525;
		padding: 26px 40px 26px 0;

		h2 {
			font-weight: 700;
			font-size: 30px;
			line-height: 33px;
			letter-spacing: 0.1px;
			color: #fff;
		}
	}
}